body {
    margin-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#map{

    padding-top: 17px;

}

#rectangle{
width:140px;
height:46px;
border: 1px solid black;
background-color: lightgreen;
margin-top: 32px;
display: inline-block;

}

#bouton{

}


input[type="button"], input[type="submit"]{
  width: 160px;
  height: 46px;
}





label { 
    width:180px;
    
text-align: center;    
    margin: 0 auto;
}

.col1{width:20%;}
.col2{width:35%;}
.col3{width:15%;}


input[type="text"], label {
    
    margin: 0 auto;
}


@media not all and (max-width: 1000px) {
label {
    width:180px;
    
text-align: right;    
    margin: 0 auto;
}

}





[class*="col-"], footer {

  
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
  padding-top: 10px;
    

  
}
.mg-right{
   margin-right: 10px !important;
   text-align: center;
}

.center{
    text-align: center !important;
    margin-left: -10%;
}

tr{
    text-align: center !important;
    padding-top: 10px;
}

table{
    text-align: center;
}

#champsGPS {
    text-align:center;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

th{
    text-align: center;
}

.taille30{
    height: 30px;
}

.login{
    height: 30px
}

#password{
    height: 30px

}