<head>
    <title>Stage en programmation - C2T3</title>
    <title>STAGE C2T3</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxF-Wa_6YWDRLneBhqqIqkkNXlwMaKN1I&callback=initMap" async defer></script>

    <style>
          /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
          #map {
              height: 400px;
              width: 100%;
              margin: 0 auto;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
              height: 100%;
              margin: 0;
              padding-top: 40px;
              margin-top: 40px;
              padding: 0;
          }

          #rectangle {
              width: 140px;
              height: 46px;
              border: 1px solid black;
              background-color: lightgreen;
              display: inline-block;
          }

          #bouton {
          }

          input[type="button"], input[type="submit"] {
              width: 140px;
              height: 46px;
          }

          label {
              width: 180px;
              text-align: left;
              margin: 0 auto;
          }

          .col1 {
              width: 20%;
          }

          .col2 {
              width: 35%;
          }

          .col3 {
              width: 15%;
          }

          input[type="text"], label {
              margin: 0 auto;
          }

          input[type="text"] {
              height: 20px;
              width: 50%;
              border: 1px solid black;
              margin-top: 10px;
          }

          [class*="col-"], footer {
              border-radius: 6px;
              line-height: 40px;
              text-align: center;
              padding-top: 10px;
          }

          .col-xs-12 {
              padding-top: 10px;
          }
    </style>
</head>
<body>
    <!-- PAGE BODY -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="background-color:transparent ;  width:100%">
                <h1 style="text-align: center">
                    Stage en programmation<br>
                    <small>Démo des fonctionnalités recherchées</small>
                </h1>
            </div>
        </div>
        <div class="row spacer" style="background-color:white">
        </div>
        <!-- /.row -->
        <div class="container-fluid">
            <div class="row">
                <form class="form-horizontal">
                    <form class="form-horizontal">
                        <fieldset>
                            <!-- Form Name -->
                            <legend style="text-align: center; width:100%">Localisation</legend>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-xl-6" align="center" id="bouton"><input type="button" value="Obtenir ma position" onclick="initMap();"/><span id="position"></span></div>
                                <div class="col-xs-12 col-md-6 col-xl-6" align="center">                           <input type="button" value="Enregistrer en BD"/></div>
                                <div class="col-xs-12">
                                    <br /><br />
                                    <div id="map"></div>
                                    <script>
                                        var latitude;
                                        var longitude;
                                        var map;


                                        function initMap() {


                                            map = new google.maps.  Map(document.getElementById('map'), { //Insére une carte dans le div spécifié par l'id 'map'
                                                center: {                                               //Place le centre de la carte aux coordonnées spécifiées, ici, Wollongong, Australie
                                                    lat: -34.397,
                                                    lng: 150.644
                                                },
                                                zoom: 10                                                //Niveau du zoom, plus la valeur est grande, plus le zoom est grand
                                            });
                                            var infoWindow = new google.maps.InfoWindow({               //Variable permettant de faire apparaitre une infobulle sur la carte
                                                map: map
                                            });


                                            if (navigator.geolocation) {
                                                navigator.geolocation.getCurrentPosition(function (position) {
                                                    var pos = {
                                                        lat: position.coords.latitude,
                                                        lng: position.coords.longitude

                                                    };
                                                    latitude = position.coords.latitude;
                                                    longitude = position.coords.longitude;
                                                    infoWindow.setPosition(pos);                        //Affiche l'infobulle à la même position que la carte sera centrée
                                                    infoWindow.setContent("<h5>Votre position</h5>"+'<b>Lat:</b> ' + latitude + "<br><b>Lon:</b> " + longitude);
                                                    let span = document.getElementById("position");
                                                    span.innerHTML = '<br><b>Lat:</b> ' + latitude + "<br><b>Lon:</b> " + longitude;
                                                    
                                                    map.setCenter(pos);                               //Centre la carte sur la position actuelle de l'utilisateur
                                                }, function () {
                                                    handleLocationError(true, infoWindow, map.getCenter());
                                                });
                                            } else {
                                                // Le navigateur ne comprend pas de service de géolocalisation
                                                handleLocationError(false, infoWindow, map.getCenter());
                                            }
                                        }

                                        function handleLocationError(browserHasGeolocation, infoWindow, pos) {        //Fonction effectuée à la suite du setCenter(), elle affichera une erreur si un problème
                                            infoWindow.setPosition(pos);                                              //est survenu
                                            infoWindow.setContent(browserHasGeolocation ?
                                                'Erreur: Le service de géolocalisation a échoué' :
                                                'Erreur: Le navigateur ne comprend pas de fonctionnalité de géolocalisation');
                                        }
                                    </script>
                                </div>
                            </div>
                            <!-- Text input-->
                        </fieldset>
                    </form>
                    <br><br>
                    <form class="form-horizontal">
                        <fieldset>
                            <!-- Form Name -->
                            <legend style="text-align: center">Envoi et réception d'alertes au serveur</legend>
                            <div class="row" id="etatserveur">
                                <div class="col-xs-6" style="text-align: center">
                                    <div class="row">
                                        <div>
                                            <span id="rectangle" align="center">État du serveur</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <form method="post" action="~/Controllers/SendAlert">
                                        <input type="submit" value="Envoyer une alerte" />
                                    </form>
                                </div>
                            </div>
                            <!-- Text input-->
                        </fieldset>
                    </form>
                </form>
                <br><br>
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend style="text-align: center">Envoi de SMS</legend>
                        <div class="row">
                            <div class="col-xs-12" style="text-align: center">
                                <div>
                                    <div class="col-xs-6"><label for="txtNoTel">No. Tel:</label></div>
                                    <div class="col-md-6"><input type="text" style="width: 100%" id="phone" align="center"></div>
                                </div>
                            </div>
                            <div class="col-xs-12" style="text-align: center">
                                <div>
                                    <div class="col-xs-6"><label for="txtMessage">Message</label></div>
                                    <div class="col-md-6"><input type="text" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="col-xs-12"><input type="submit" value="Envoyer"></div>
                        </div>
                    </fieldset>
                </form>
                
            </div>
        </div>
    </div>
