
<head>
    <title>Stage en programmation - C2T3</title>
    <title>STAGE C2T3</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="icon2.png">

    <style>
          /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
          #map {
              height: 400px;
              width: 100%;
              margin: 0 auto;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
              height: 100%;
              margin: 0;
              padding: 0;
          }
    </style>
</head>
<body>




 


    <!-- PAGE BODY -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="background-color:transparent ;  width:100%">
                <h1 style="text-align: center">
                    Stage en programmation<br>
                    <small>Démo des fonctionnalités recherchées</small>
                </h1>
            </div>
        </div>
        <div class="row spacer" style="background-color:white">
        </div>
        <!-- /.row -->
        <div class="container-fluid">
            <div class="row">
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend style="text-align: center; width:100%">Localisation</legend>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-xl-6" align="center" id="bouton"><input type="button" value="Obtenir ma position" onclick="initMap();"></div>
                            
                            @using (Html.BeginForm("CreerEntreeGPS", "Home", FormMethod.Post))
                            {

                                <!-- form here -->

                                <div class="col-xs-12 col-md-6 col-xl-6" align="center">                           <input type="button" value="Enregistrer en BD"></div>
                                <input type="text" name="lat" id="txtLat">
                                <input type="text" name="long" id="txtLong">
                                <input type="text" name="id_appareil" id="id_appareil" value="TEST">
                                <button type="submit" class="btn btn-default">Submit</button>

                            }
                        
                            <div class="col-xs-12">
                                <div id="map"></div>
                                <script>

                                    function initMap() {
                                        map = new google.maps.Map(document.getElementById('map'), {
                                            center: {
                                                lat: -34.397,
                                                lng: 150.644
                                            },
                                            zoom: 10
                                        });
                                        var infoWindow = new google.maps.InfoWindow({
                                            map: map
                                        });

                                        // Try HTML5 geolocation.
                                        if (navigator.geolocation) {
                                            navigator.geolocation.getCurrentPosition(function (position) {
                                                var pos = {
                                                    lat: position.coords.latitude,
                                                    lng: position.coords.longitude

                                                };
                                                latitude = position.coords.latitude;
                                                longitude = position.coords.longitude;

                                                infoWindow.setPosition(pos);
                                                infoWindow.setContent('Position trouvée! Lat: ' + latitude + "   Lon: " + longitude);
                                                map.setCenter(pos);

                                                document.getElementById("txtLat").value = latitude;
                                                document.getElementById("txtLong").value = longitude;

                                            }, function () {
                                                handleLocationError(true, infoWindow, map.getCenter());
                                            });
                                        } else {
                                            // Browser doesn't support Geolocation
                                            handleLocationError(false, infoWindow, map.getCenter());
                                        }
                                    }

                                    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                                        infoWindow.setPosition(pos);
                                        infoWindow.setContent(browserHasGeolocation ?
                                            'Error: The Geolocation service failed.' :
                                            'Error: Your browser doesn\'t support geolocation.');
                                    }


                            </script>
                            </div>
                        </div>
                        <!-- Text input-->
                    </fieldset>
                </form>
                <br><br>
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend style="text-align: center">Envoi et réception d'alertes au serveur</legend>
                        <div class="row">
                            <div class="col-xs-6" style="text-align: center">
                                <div class="row">
                                        <span id="rectangle" align="center">État du serveur</span>
                                        @{
                                            
                                            
                                            if (ViewBag.nbAlertes > 0)
                                            {
                                                <script>document.getElementById("rectangle").style.backgroundColor = "red";</script>
                                            }
                                        } 
                                </div>

                            </div>

                            <div class="col-xs-6"><input type="button" name="Envoyer une alerte" value="Envoyer une alerte" align="center" style="margin-top: 32px;"onclick="envoyerAlerte()"></div>
                            <script>

                                    function envoyerAlerte() {
                                        window.location.href = '@Url.Action("EnvoyerAlerte", "Home")/7';
                                    }</script>
                        </div>
                        <div class="row">

                            <div class="col-xs-12" style="text-align: center">
                                <!--<input type="button" value="Effacer les alertes" onclick="location.href='-->
                                <button type="button" onclick="resetAlertes();">Effacer les alertes</button>
                                <script>   
                                    function resetAlertes() {
                                        window.location.href = '@Url.Action("EffacerAlertes", "Home")/';
                                    }</script>
                            </div>

                        </div>
                        <!-- Text input-->
                    </fieldset>
                </form>
                <br><br>
                <form class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        <legend style="text-align: center">Envoi de SMS</legend>
                        <div class="row">
                            <div class="col-xs-12 col-md-6" style="text-align: center">
                                <div>
                                    <div class="col-md-6"><label for="txtNoTel">No. Tel:</label></div>
                                    <div class="col-md-6"><input type="text" style="width: 100%" align="center"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6" style="text-align: center">
                                <div>
                                    <div class="col-md-6"><label for="txtMessage">Message</label></div>
                                    <div class="col-md-6"><input type="text" style="width: 100%"></div>
                                </div>
                            </div>
                            <div class="col-xs-12"><input type="submit" value="Envoyer"></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxF-Wa_6YWDRLneBhqqIqkkNXlwMaKN1I&callback=initMap"
            async defer></script>

</body>