#rectangle{
width:140px;
height:46px;
border: 1px solid black;
background-color: lightgreen;
margin-top: 32px;
display: inline-block;

}

#bouton{

}


input[type="button"], input[type="submit"]{
  width: 140px;
  height: 46px;
}




label {
    width:180px;
    
text-align: center;    
    margin: 0 auto;
}

.col1{width:20%;}
.col2{width:35%;}
.col3{width:15%;}


input[type="text"], label {
    
    margin: 0 auto;
}


@media not all and (max-width: 1000px) {
label {
    width:180px;
    
text-align: right;    
    margin: 0 auto;
}

}


input[type="text"]{
  height: 20px;
  width:50%;
  border: 1px solid black;
  margin-top: 10px;
}


[class*="col-"], footer {

  
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
  padding-top: 10px;
    

  
}

.col-xs-12{
    padding-top: 10px;

}